.login {
  position: absolute;
  top: 120px;
  left: 300px;
  width: 200px;
  height: 50px;
  background: #000;
  border: solid 1px #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}

