<header><h1>{{title}}</h1></header>

<div class="login">
  <button (click)="handleClick">Log In</button>
  <button (click)="handleClick" *ngIf="">Log Out</button>
</div>

<footer><a href="">GitLab</a> | <a href="">Github</a> | <a href="">blog walkthrough</a></footer>
