/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #111111;
}

* {
  color: #dddddd;
  font-family: "Work Sans";
}

h1 {
  color: #eeeeee;
  font-family: "Fugaz One";
  font-weight: 300;
  text-align: center;
}

header {
  position: absolute;
  background-color: #222222;
  width: 100vw;
  top: 0;
}

footer {
  position: absolute;
  background: #222222;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

button {
  border: solid 1px #777777;
  border-radius: 4px;
  background-color: #444444;
  color: #dddddd;
  height: 30px;
  width: 100px;
  font-size: larger;
}

button:hover {
  background-color: #555555;
}
